:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.pipelineflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.pipelineflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.pipelineflow aside .description {
  margin-bottom: 10px;
}

.pipelineflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.pipelineflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .pipelineflow {
    flex-direction: row;
  }

  .pipelineflow aside {
    width: 20%;
    max-width: 275px;
  }
}

.operator-menu-item {
  padding: 10px;
  background: #ffffff;
  border: 2px solid #1a192b;
  border-radius: 5px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  color: #333;
  cursor: grab;
  font-weight: 400;
  margin-bottom: 10px;
}

.operator {
  padding: 10px;
  background: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: grab;
}

.operator-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator-label {
  text-align: center;
}

.operator-button-text {
  margin-left: 4px;
  font-size: 14px;
}

.operator-popover-content {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.parameter-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.parameter-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
